:root {
    --color-white: #ffffff;
    --color-red: #ff0000;
}

body {
    font: lighter 16px Verdana, sans-serif;

    margin: 0;
}

#stuffShop {
    background-color: lightblue;

    height: 100vh;
}

.niceColor {
    background-color: lightsalmon;
}

#header {
    border-radius: 50px;
    background-color: salmon;
    overflow: hidden;

    padding: 0 20px;
    position: relative;
}

#logo {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;

    top: 50%;
    transform: translateY(-50%);
}




.addStuffForm > * {
    display: block;
}

.warning {
    color: var(--color-red);
    min-height: 20px;
}

.cart {
    list-style: none;
}

.cart > *:nth-child(even) {
    color: var(--color-white);
}

.item__price {
    margin-left: 30px;
}