$font-main: 'Open Sans', sans-serif;

$color-white: #ffffff;
$color-black: #000000;
$color-green-1: #f2fef9;
$color-green-2: #e1f8f4;
$color-green-3: #23d5ad;
$color-gray-1: #fdfdfd;
$color-gray-2: #f9f9f9;
$color-gray-3: #f8f8f8;
$color-gray-4: #e6e6e6;
$color-red: #ff0000;