.main-content__cart {
  padding-top: 20px;
  border-top: 1px solid $color-gray-4;
}

.cart__header {
  @include section-header;
}

.cart__list {
  @include list;
  margin-bottom: 20px;
}

.cart__item {
  @include list-item;

  &:nth-child(even) {
    background-color: $color-gray-3;
  }
}

.item__price {
  margin-left: auto;
  min-width: 70px;
}

.item__amount {
  min-width: 40px;
  text-align: right;
}

.cart__value {
  font-weight: 400;
  margin-bottom: 30px;
}

.cart__checkout-button {
  @include button;
  width: 100%;
  max-width: 350px;

  &:hover {
    @include button-hover;
  }
}

//Media Queries
@media (min-width: 650px) {
  .cart__header,
  .cart__value {
    font-size: 18px;
  }

  .cart__list {
    font-size: 16px;
  }

  .item__price {
    min-width: 90px;
  }

  .item__amount {
    min-width: 60px;
  }
}

@media (min-width: 1000px) {
  .main-content__cart {
    width: 50%;
    padding-top: 0;
    padding-left: 40px;
    border-top: none;
    border-left: 1px solid $color-gray-4;
  }
}