.main-content__products {
  padding-bottom: 30px;
}

.products__header {
  @include section-header;
}

.form__label {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
}

.products__form {
  max-width: 350px;
  margin-bottom: 20px;
}

.products__form > * {
  display: block;
}

.form__custom-select {
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid $color-gray-4;
  border-radius: 3px;
  background-color: white;
}

.form__select {
  @include select;
  font-size: 13px;
}

.form__button {
  @include button;
  width: 100%;

  &:hover {
    @include button-hover;
  }
}

.products__warning,
.products__price,
.products__description {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
}

.products__price,
.products__description {
  span {
    display: block;
    font-weight: 100;
  }
}

.products__warning {
  min-height: 26px;
  font-weight: 100;
  color: $color-red;
}

//Media Queries
@media (min-width: 650px) {
  .products__header {
    font-size: 18px;
  }

  .form__select,
  .form__button,
  .products__warning,
  .products__price,
  .products__description {
    font-size: 16px;
  }

  .products__price,
  .products__description {
    span {
      margin-top: 5px;
    }
  }
}

@media (min-width: 1000px) {
  .main-content__products {
    width: 450px;
    border-bottom: none;
  }
}